In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\thanm\\Downloads\\playtennis.csv')

In [4]:
df.head()

  Day   Outlook Temperature Humidity    Wind PlayTennis
0  D1     Sunny         Hot     High    Weak         No
1  D2     Sunny         Hot     High  Strong         No
2  D3  Overcast         Hot     High    Weak        Yes
3  D4      Rain        Mild     High    Weak        Yes
4  D5      Rain        Cool   Normal    Weak        Yes

In [5]:
df = df.iloc[:,2:]

In [6]:
df.sample(5)

  Temperature Humidity    Wind PlayTennis
4        Cool   Normal    Weak        Yes
7        Mild     High    Weak         No
5        Cool   Normal  Strong         No
9        Mild   Normal    Weak        Yes
6        Cool   Normal  Strong        Yes

In [9]:
df.dtypes

Temperature    object
Humidity       object
Wind           object
PlayTennis     object
dtype: object

In [10]:
df["Temperature"].unique

<bound method Series.unique of 0      Hot
1      Hot
2      Hot
3     Mild
4     Cool
5     Cool
6     Cool
7     Mild
8     Cool
9     Mild
10    Mild
11    Mild
12     Hot
13    Mild
Name: Temperature, dtype: object>

In [11]:
df["Temperature"].value_counts()

Mild    6
Hot     4
Cool    4
Name: Temperature, dtype: int64

# LABEL ENCODING

Here We use Label Encoding for 
Numeric representation of categorical data.

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
label_encoder = LabelEncoder()

In [16]:
print(label_encoder)

LabelEncoder()

In [21]:
df["Temperature"] = label_encoder.fit_transform(df["Temperature"])
df["Humidity"] = label_encoder.fit_transform(df["Humidity"])
df["Wind"] = label_encoder.fit_transform(df["Wind"])
df["PlayTennis"] = label_encoder.fit_transform(df["PlayTennis"])

In [22]:
df.head()

   Temperature  Humidity  Wind  PlayTennis
0            1         0     1           0
1            1         0     0           0
2            1         0     1           1
3            2         0     1           1
4            0         1     1           1

In [23]:
df.dtypes

Temperature    int64
Humidity       int32
Wind           int32
PlayTennis     int32
dtype: object

As we can now all our categorical Data is converted into numerical representations (numbers)

In [27]:
df["Temperature"].unique()
df["Humidity"].unique()
df["Wind"].unique()
df["PlayTennis"].unique()

array([0, 1])